<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
          <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/public/stylesheets/main.css">
        <style>
          body{
            background-color: #F0F2F5;
        }
        </style>
</head>

<body>

  <div class="bg-white d-flex align-items-center fixed-top shadow" style="min-height: 56px; z-index: 5">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- search -->
        <div class="col d-flex align-items-center">
          <!-- logo -->
          <div class="ms-2">
            <img src="../public/img/CyberDome-logo.png" class="logo" alt="">
          </div>
        </div>
        <!-- nav -->
        <div class="col d-none d-xl-flex justify-content-center">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>


        <!-- menus -->
        <div class="col d-flex align-items-center justify-content-end">
          {{!-- <!-- avatar -->
            <div class="align-items-center justify-content-center d-none d-xl-flex">
            <img src="https://source.unsplash.com/collection/happy-people" class="rounded-circle me-2" alt="avatar"
              style="width: 38px; height: 38px; object-fit: cover" />
            <p class="m-0">user</p>
          </div> --}}
          <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav ml-auto">
                {{#unless currentUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                {{else}}
                <li class="nav-item">
                  <div class="align-items-center justify-content-center d-none d-xl-flex">
                    <img src="https://source.unsplash.com/collection/happy-people" class="rounded-circle me-2" alt="avatar" style="width: 38px; height: 38px; object-fit: cover" />
                    <p class="m-0"><a class="nav-link" href="/user/{{currentUser.username}}">{{currentUser.username}}</a></p>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> LogOut</a>
                </li>
                {{/unless}}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="align-items-center">        
        <h1 class="text-dark text-center w-100 addpostheading">Add a new Post</h1>
    </div>
        <div class="d-flex flex-column">
            <form action="/posts" method="POST">
                <div class="form-group">
                    <input class="form-control border-1" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control border-1" type="url" name="image" placeholder="Image url">
                </div>
                <div class="form-group">
                    <textarea class="form-control border-1" cols="30" rows="5" type="text" name="description" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-dark w-100 mt-4" type="submit">Submit</button>
                </div>
            </form>
            <a href="/posts">Go back</a>
        </div>
</body>

</html>